<footer>
  <div id="top-content">
    <div id="left-side">
      <div class="container">
        <img [src]='"/../assets/images/LabTvLogoMini.png"' alt="Logo LavTv">
        <div class="socials">
          <a target="blank" href="https://facebook.com">
            <i class="fa-brands fa-facebook-square"></i>
          </a>
          <a target="blank" href="https://instagram.com">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a target="blank" href="https://www.twitter.com">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </div>
      </div>
      <div id="left-mid" class="container">
        <div>
          <i id="pointer" class="fa-solid fa-map-location-dot"></i>
        </div>
        <div>
          <h3>Le Nostre Sedi</h3>
          <p>Via Porzio 18, Napoli (NA)</p>
          <p>Via Parco Solare 21, Milano (MI)</p>
          <p>Via Parco Dei Fiori 4, Roma (RM)</p>
        </div>
      </div>
      <div id="contatti" class="container">
        <div class="contact">
          <i class="fa-solid fa-phone"></i>
          <span>+39 3246122367</span>
        </div>
        <div class="contact">
          <i class="fa-regular fa-envelope"></i>
          <span>michelelamarca@gmail.com</span>
        </div>
      </div>
    </div>
    <div id="right-side">
      <div id="right-in">
        <p>Richiedi un Film o una SerieTv</p>
        <mat-form-field>
          <input matInput placeholder="Inserisci Nome">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Inserisci Cognome">
        </mat-form-field>
        <div>
          <mat-form-field class="internal-input">
            <input class="internal-input" matInput placeholder="Inserisci Email" type="email">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="internal-input">
            <input class="internal-input" matInput placeholder="Inserisci Nome Film/SerieTv" value="">
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button>Invia Richiesta</button>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom">
    <div>copyright <i class="fa-solid fa-copyright"></i>
      2022. LabTV. All Right Reserved.</div>
  </div>
</footer>
